@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #000000;
    --background: #ffffff;
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }

  .dark {
    --foreground: #ededed;
    --background: #0a0a0a;
    --background-rgb: 10, 10, 10;
    --foreground-rgb: 237, 237, 237;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
  }
}

body {
  @apply text-gray-900 bg-white min-h-screen;
}

/* Form input overrides */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea,
select {
  @apply text-slate-900 bg-white;
}
